<%= provide(:title, 'All users')%>
<h1>All users</h1>

<%= will_paginate%>

<div class="row">
  <ul id="users" data-update-url="<%= sort_users_url %>" class="sortable_list thumbnails">
		<%= render @users%>
  </ul>
</div>

<%= will_paginate%>
<% content_for :foot do %>
	<%= javascript_include_tag "sortable_process" %>
<% end %>
